@import 'variables.scss';
@import 'normalize-scss';
@include normalize();

html, body {
  height: 100%;
}

div#app {
  height: 100%;
}

body {
  margin: 0;
}

p.error {
  color: red;
}

ul.SimpleList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ui.buttons .or.error:before {
  color: #fa3c4c
}


.react-resizable {
  position: relative;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px;
}

.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}

iframe.preview {
  width: 100%;
  height: 100vh;
  border: 0;
}

.ui.button.basic.link,
.ui.button.basic.link:hover,
.ui.button.basic.link:focus,
.ui.button.basic.link:active {
  background: none !important;
  box-shadow: 0 0 !important;
  display: inline !important;
}

.visible.transition.inline-block{
  display: inline-block!important;
}

.visible.transition.inline{
  display: inline!important;
}

.visible.transition.flex{
  display: flex!important;
}

.ui.inline.dropdown .menu{
  margin-top: 0 !important;
}

#dropzone {
  display: flex;
  align-items: center;
  min-height: 100%;


  .dropzone {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 2px dashed #AAA;
    border-radius: 5px;

    display:flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.8em;
    padding: 54px 54px;

    div {
      margin: 1.5em;
    }

    div.description {
      font-size: 0.7em;
      color: #555;
    }
  }
}

#DisplayContainer {
  height: 100vh;
}

div.leftShadow {
  height: 100%;
  border-left: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: inset 1px 2px 2px 0 rgba(34,36,38, 0.1);
}

div#topBar {
  position: fixed;
  top: 0;
  width: 100%;
  line-height: 1;
  height: 40px;
  padding: 0.95em 1.15384615em;
  color: white;
  background-color: #444444;
  z-index: 20;

  span {
    font-weight: bold;
  }
}

div.topPadded {
  padding-top: 40px !important;
}

#widget-menu {
  background-color: #444444;
  border-left: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: -1px 1px 2px 0 rgba(34, 36, 38, 0.1);
  overflow:auto;

  line-height: normal;

  * {
    color: #eee
  }

  .block {
    padding: 1em;
    box-sizing: border-box;
    min-height: 90px;
    cursor: pointer;
    font-size: 11px;
    font-weight: lighter;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease 0s;
    transition-property: box-shadow, color;

    svg {
      fill: currentColor;
      width: 54px;
      transition: all 0.2s ease 0s;
    }

    .icon {
      font-size: 3.2em;
      transition: all 0.2s ease 0s;
    }
  }

  .block:hover {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.15);
    color: #d278c9;

    svg {
      fill: #d278c9;
    }

    .icon {
      color: #d278c9;
    }
  }

  .row {
    padding-top: 0;
    padding-bottom: 0;

    .column {
      padding-left: 5px;
      padding-right: 5px;
    }
  }




  .ui.grid {
    margin-top: 0;
  }

  .group-title {
    background-color: rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
    padding: 9px 10px 9px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: left;
    position: relative;
    font-size: 11px;
  }
}

.grid .notPadded {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

div#main-menu {
  width: 250px;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  border: 0 !important;
  box-shadow: none !important;


  > #menu-tree {
    //direction: rtl;
    margin: 0 0 0 0;
    padding: 0.2em 0 1em 0;

    border: none;
    box-shadow: none;
    box-shadow-top: inset 0 0 10px #000000;

    overflow-x: auto;
    overflow-y: auto;

    * {
      direction: ltr;
      user-select: none;

      >*.selected {
        color: #cc3434;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.1);

        >ul, >li {
          color: black;
          font-weight: normal;
          background-color: white;
        }
      }

      span.placed{
        text-indent: 0;
        float: right;
        color: #509eff;
      }
    }

    i {
      width: auto;
      cursor: pointer;
      color: #666;
    }

    ul {
      text-indent: 0.1em;

      list-style: none;
      margin: 0 0 0 0;
      padding: 0 0 0 0;

      ul {
        cursor: pointer;
      }
    }

    >ul {
      margin: 0 0 0.4em 0;
    }

    ul.menu-tree-items {
      > li > ul > li{
        text-indent: 0.8em;
      }
    }

    ul.menu-tree-animates {
      > li > ul > li {
        text-indent: 0.8em;
      }
      > li > ul > li > ul > li {
        text-indent: 1.4em;
      }
    }
  }

  > #menu-tree-divider {
    padding: 0;
    margin: 0;
    border-bottom: 0;
  }

  > a:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: rgba(34, 36, 38, 0.1);
  }

  a.active > div.item.link  {
    background: rgba(0, 0, 0, 0.05);
    box-shadow: none;
  }

  .header {
    height: 40px;
    color: white;
    background-color: #444444;
  }

}

.colorpicker {
  display:inline-block;
}

.colorpicker .color-box {
  vertical-align: bottom;
  display: inline-block;
  margin-right: 4px;
  width: 12px;
  height: 12px;
  border: 1px solid gray;
}
