@import 'variables.scss';
@import 'normalize-scss';
@include normalize();

body {
  margin: 0;
}

p.error {
  color: red;
}

ul.SimpleList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ui.buttons .or.error:before {
  color: #fa3c4c
}


.react-resizable {
  position: relative;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px;
}

.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}

iframe.preview {
  width: 100%;
  height: 100vh;
  border: 0;
}

.ui.button.basic.link,
.ui.button.basic.link:hover,
.ui.button.basic.link:focus,
.ui.button.basic.link:active {
  background: none !important;
  box-shadow: 0 0 !important;
  display: inline !important;
}

.visible.transition.inline-block{
  display: inline-block!important;
}

.visible.transition.inline{
  display: inline!important;
}

.visible.transition.flex{
  display: flex!important;
}

.ui.inline.dropdown .menu{
  margin-top: 0 !important;
}
