<template bindable="color,stroke-w,width,height">
<svg version="1.1" id="Vrstva_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 316 331" style="enable-background:new 0 0 316 331;" xml:space="preserve" width="${width}" height="${height}">
    <path class="st0" stroke-width="${stroke-w}*6" stroke="${color}" fill="none"  d="M316,322.5c-86.43,0-156.5-70.07-156.5-156.5S229.57,9.5,316,9.5"/>
    <line class="st1" stroke-width="${stroke-w}*12" stroke="${color}" fill="none"  x1="159.5" y1="165.5" x2="0.5" y2="165.5"/>
    <path class="st2" stroke-width="${stroke-w}*3" stroke="${color}" fill="none"  d="M229.26,75.82c4.51-2.07,9.2-4.09,14.06-6c22.17-8.72,47.77-15.28,74.68-15.28"/>
    <path class="st0" stroke-width="${stroke-w}*6" stroke="${color}" fill="none"  d="M168.65,113.19c0,0,24.17-20.59,60.62-37.37"/>
    <path class="st2" stroke-width="${stroke-w}*3" stroke="${color}" fill="none"  d="M317.5,98.24c-58,0-88.45-22.31-88.45-22.31"/>
    <path class="st2" stroke-width="${stroke-w}*3" stroke="${color}" fill="none"  d="M159.61,165.38l88.89,0.12c0,0,5-29.49,69.5-29.49"/>
    <path class="st2" stroke-width="${stroke-w}*3" stroke="${color}" fill="none"   d="M227.78,254.17c5.09,2.4,10.41,4.72,15.93,6.9c22.17,8.72,47.77,15.28,74.68,15.28"/>
    <path class="st0" stroke-width="${stroke-w}*6" stroke="${color}" fill="none"  d="M168.03,216.69c0,0,24.13,20.67,59.75,37.48"/>
    <path class="st2" stroke-width="${stroke-w}*3" stroke="${color}" fill="none"  d="M317.89,232.64c-58,0-88.45,22.31-88.45,22.31"/>
    <path class="st2" stroke-width="${stroke-w}*3" stroke="${color}" fill="none"  d="M248.89,165.38c0,0,5,29.49,69.5,29.49"/>
    <line class="st0" stroke-width="${stroke-w}*6" stroke="${color}" fill="none"  x1="160" y1="165.5" x2="248.89" y2="165.38"/>
</svg>

</template>
