<template>
  <require from="../w3.css"></require>
  <require from="font-awesome/css/font-awesome.min.css"></require>
  <button class="w3-button" click.delegate="start()" title="Start simulation"><i class="fa fa-play"></i> &nbsp;</button>
  <button class="w3-button" click.delegate="stop()" title="Stop simulation"><i class="fa fa-stop"></i> &nbsp;</button>
  <button class="w3-button" click.delegate="step()" title="Do simulation step"><i class="fa fa-step-forward"></i> &nbsp;</button>
  <button class="w3-button" click.delegate="reset()" title="Reset simulation"><i class="fa fa-refresh"></i> &nbsp;</button>
</template>
