@import 'variables.scss';
@import 'normalize-scss';
@include normalize();

body {
  margin: 0;
}

div.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  header {
    border-bottom: solid 1px;
  }

  .middle {
    display: flex;
    flex: 1;

    div.left {
      flex: 0 0 15em;
      border-right: solid 1px;
    }

    div.grapes {
      flex: 1;
    }
  }
}

.modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;

  background-color: #ddd;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}
